# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/
/.classpath
/.project
/missing/
/warnings/
/test-bin/
/.settings/
/.externalToolBuilders/
